{
  "env": {
    "jest": true
  },
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": [
      "error",
      "always"
    ],
    "linebreak-style": "off",
    "semi": [
      "error",
      "never"
    ]
  }
}
